/node_modules
/public/storage

!/vendor/
/vendor/*
!/vendor/backpack
/vendor/backpack/*
!/vendor/backpack/langfilemanager
/vendor/backpack/langfilemanager/*
!/vendor/backpack/langfilemanager/src
/vendor/backpack/langfilemanager/src/*
!/vendor/backpack/langfilemanager/src/app
/vendor/backpack/langfilemanager/src/app/*
!/vendor/backpack/langfilemanager/src/app/Http
/vendor/backpack/langfilemanager/src/app/Http/*
!/vendor/backpack/langfilemanager/src/app/Http/Controllers





/.idea
Homestead.json
Homestead.yaml
.env
/nbproject/private/